table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 16%;
  }

  .tbl-container{
    margin-right: 100px;
    margin-left: 100px;
  }

  .business-filters{
    display: flex;
    //justify-content: space-around;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  mat-select{
    padding-top:15px;
  }

  mat-form-field{
    width:400px;
    text-align:center;
    //padding-right: 100px;
  }

  form{
    padding-left: 7%;
    padding-right: 7%;
  }

  .no-data{
    display: flex;
    justify-content: center;
  }

  p{
    margin-top: 50px;
    font-size: larger;
  }
  