<div class="container">
  <div mat-dialog-title>
    <h1>{{data ? 'Edit': 'Add'}} Business Area</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Business Area name:</mat-label>
                <input matInput type="text" placeholder="i.e JD Group" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Business Area Type:</mat-label>
              <mat-select formControlName="businessAreaTypeId">
                  <mat-option *ngFor="let businessAreaType of businessAreaTypes" [value]="businessAreaType.id">{{businessAreaType.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Customer:</mat-label>
              <mat-select formControlName="customerId">
                  <mat-option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            
        </div>
    </div>
    <div mat-dialog-actions class="action-btns">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button style="margin: 10px;" mat-raised-button type="submit">{{data ? 'Update': 'Save'}}</button>        
    </div>
  </form>
  <div *ngIf="responseMessage?.message != undefined || responseMessage?.message != null" class="errorMessage">
    <span >* {{responseMessage?.message}} </span>
  </div>
  </div>