<div class="container">
  <div mat-dialog-title>
    <h1>{{data ? 'Edit': 'Add'}} Business Area Relationship</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Customer:</mat-label>
              <mat-select formControlName="customerId">
                  <mat-option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Business Area:</mat-label>
              <mat-select formControlName="businessAreaId">
                  <mat-option *ngFor="let businessArea of businessAreas" [value]="businessArea.id">{{businessArea.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            
        </div>
        <div class="row">
            <mat-form-field appearance="outline" *ngIf="businessAreaTypeRelationships?.businessAreaType1 == true">
              <mat-label>Location:</mat-label>
              <mat-select formControlName="filteredBusinessAreaId">
                  <mat-option *ngFor="let businessArea of filteredLocationBusinessAreas" [value]="businessArea.id">{{businessArea.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="businessAreaTypeRelationships?.businessAreaType2 == true">
              <mat-label>Department:</mat-label>
              <mat-select formControlName="filteredBusinessAreaId2">
                  <mat-option *ngFor="let businessArea of filteredDepartmentBusinessAreas" [value]="businessArea.id">{{businessArea.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            
        </div>
        <div class="row" >
            <mat-form-field appearance="outline" *ngIf="businessAreaTypeRelationships?.businessAreaType3 == true">
              <mat-label>Industry:</mat-label>
              <mat-select formControlName="filteredBusinessAreaId3">
                  <mat-option *ngFor="let businessArea of filteredIndustryBusinessAreas" [value]="businessArea.id">{{businessArea.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>            
        </div>
    </div>
    <div mat-dialog-actions class="action-btns">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button style="margin: 10px;" mat-raised-button type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
  </form>
  <div *ngIf="!responseMessage?.success" class="errorMessage">
    <span > {{responseMessage?.message}} </span>
  </div>
  </div>