<div class="container">
  <div mat-dialog-title>
    <h1>{{data ? 'Edit': 'Add'}} Business Area Relationship</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Customer:</mat-label>
              <mat-select formControlName="customerId">
                  <mat-option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Business Area:</mat-label>
              <mat-select formControlName="businessAreaId">
                  <mat-option *ngFor="let businessArea of businessAreas" [value]="businessArea.id">{{businessArea.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Filtered business Area:</mat-label>
              <mat-select formControlName="filteredBusinessAreaId">
                  <mat-option *ngFor="let businessArea of filteredBusinessAreas" [value]="businessArea.id">{{businessArea.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
            
        </div>
    </div>
    <div mat-dialog-actions class="action-btns">
        <button style="margin: 10px;" mat-raised-button type="submit">{{data ? 'Update': 'Save'}}</button>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    </div>
  </form>
  <div *ngIf="responseMessage?.message != undefined || responseMessage?.message != null" class="errorMessage">
    <span >* {{responseMessage?.message}} </span>
  </div>
  </div>