<span class="container">
  <p>This is a crud selction page for adding, reading, updating and deleting data</p>
  <mat-list>
    <mat-list-item> <a routerLink="/crud/person">Person</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a routerLink="/crud/customer">Customer</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a routerLink="/crud/business-area">Business Area</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a routerLink="/crud/application">Application</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a routerLink="/crud/application-customer">Customer Application</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a routerLink="/crud/business-area-relationship">Business Area Relationship</a></mat-list-item>
  </mat-list>
  
</span>
