.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}
mat-form-field {
    width: 100%;
}
mat-hint {
    margin: 5px;
}
.action-btns {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

button:nth-child(1){
    background: green;
    color: white;
}
button:nth-child(2){
    background: gray;
}
.action-btns button {
    padding: 5px 20px;
}